@import './../../../../../scss/mixins';

:host {
  --icon-size: 14px;
  --icon-padding: 7px;
  display: flex;
  width: fit-content;
  flex-direction: row;
  position: relative;
}

a {
  --border-size: 1px;
  padding: var(--icon-padding);
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-bottom: none;
  border-radius: 2px;
  transition: background 0.3s;

  &:not(:last-child) {
    margin-right: 6px;
  }

  &:hover {
    background-color: rgba(var(--color-title), 0.069);
    outline: none;
  }
}

.hover-background {
  --hover-background-size: calc(var(--icon-size) + (var(--icon-padding) * 2));
  background-color: rgba(var(--color-title), 0.069);
  width: var(--hover-background-size);
  height: var(--hover-background-size);
  position: absolute;
  top: 0;
}

html[data-theme='dark'] :host::ng-deep a {
  color: rgba(var(--color-title), 0.69);

  &:hover {
    &.twitter {
      color: #1da1f2;
    }

    &.instagram {
      color: #c32aa3;
    }

    &.github {
      color: white;
    }

    &.linkedin {
      color: #007bb5;
    }
  }
}

html[data-theme='light'] :host::ng-deep a {
  &.twitter {
    color: #1da1f2;
  }

  &.instagram {
    color: #c32aa3;
  }

  &.github {
    color: black;
  }

  &.linkedin {
    color: #007bb5;
  }
}

mat-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--icon-size);
  height: var(--icon-size);
  font-size: var(--icon-size);
}
