@import './../../../../../scss/mixins';

:host {
  --icon-size: 14px;
  --icon-padding: 7px;
  display: flex;
  width: fit-content;
  flex-direction: row;

  a {
    padding: var(--icon-padding);
  }

  mat-icon {
    width: var(--icon-size);
    height: var(--icon-size);
    font-size: var(--icon-size);
  }
}

a {
  --border-size: 1px;
  color: rgb(var(--color-text));
  position: relative;
  overflow: hidden;
  display: inline-block;
  transition: ease-out 0.3s 0.3s;

  &:not(:last-child) {
    margin-right: 6px;
  }

  // Top and Bottom lines inital status
  span {
    &::before,
    &::after {
      content: '';
      width: 100%;
      height: var(--border-size);
      background-color: rgb(var(--color-text));
      position: absolute;
      transition: 0.3s;
    }

    &::before {
      left: 0;
      top: 0;
      transform: translateX(-100%);
    }

    &::after {
      right: 0;
      bottom: 0;
      transform: translateX(-100%);
    }
  }

  // Ends Top and Bottom lines inital status

  // Left and Right lines inital status
  &::before,
  &::after {
    content: '';
    width: var(--border-size);
    height: 100%;
    background-color: rgb(var(--color-text));
    position: absolute;
    transition: 0.3s;
  }

  &::before {
    left: 0;
    top: 0;
    transform: translateY(-100%);
  }

  &::after {
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: 0.3s;
  }

  // Ends Left and Right lines inital status

  &:hover {
    color: rgb(var(--color-text));
    background-color: rgb(216, 219, 226);
    outline: none;

    &.twitter {
      color: #1da1f2;
    }

    &.instagram {
      color: #c32aa3;
    }

    &.github {
      color: black;
    }

    &.linkedin {
      color: #007bb5;
    }

    &::before,
    &::after {
      transform: translateX(0);
    }

    span {
      &::before,
      &::after {
        transform: translateX(0);
      }
    }
  }
}

mat-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
