.picture-holder {
  all: inherit;
  overflow: hidden;
  position: relative;
  display: flex;

  &.isResponsive {
    &:after {
      content: '';
      display: block;
      padding-bottom: var(--aspect-ratio);
    }

    picture {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

picture {
  display: inline-flex;
  width: 100%;
  height: 100%;
}

img {
  display: block;
}

.cover {
  object-fit: cover;
  font-family: 'object-fit: cover;';
}

.contain {
  object-fit: contain;
  font-family: 'object-fit: contain;';
}
