<div class="wrapper" [class.isResponsive]="responsive" [class.showPlaceholder]="!isPng">
  <picture *ngIf="shouldPictureLoad">
    <source type="image/webp" [srcset]="imagePath.webp">
    <source *ngIf="!isPng" type="image/jpg" [srcset]="imagePath.jpg">
    <source *ngIf="isPng" type="image/png" [srcset]="imagePath.png">
    <img [src]="(isPng)? imagePath.png : imagePath.jpg" class="fit-image {{ mode }}">
  </picture>
</div>
<div class="shadow" [style.opacity]="shadow"></div>
<div class="content">
  <ng-content></ng-content>
</div>