<main class="HomePage">
  <section class="WelcomeArea">
    <app-smart-picture class="WelcomeArea__Image A--FadeIn A--D10 A--W1" alt="Laptop with coffee">
      <source srcset="/assets/svg/laptop-code.svg" type="image/svg+xml" />
    </app-smart-picture>
    <h1 class="WelcomeArea__Title">Full-Stack Developer Focused&nbsp;on&nbsp;UI/UX</h1>
    <p class="WelcomeArea__Extract A--FadeInUp A--D3 A--W1">
      I create beautiful user-centered web applications using the latest technologies. I'm comfortable throughout the stack, but my passion lies in the
      front-end, at the intersection of code and design.
    </p>
    <app-social-media-buttons class="WelcomeArea__SocialMediaButtons A--FadeInUp A--D4 A--W2"></app-social-media-buttons>
  </section>
</main>

<section class="QuickContact">
  <h2 class="A--FadeIn A--D6">Need a developer?</h2>
  <a mat-button class="TitleFont Link--WithCustomHoverColor A--FadeInUp A--D3" routerLink="../contact">Let's work together</a>
</section>
