@import './../../../../../scss/mixins';
@import './../../../../../scss/staticVariables';

.contact-icons,
.contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-icons {
  flex-direction: row;
}

.contact-link {
  flex-direction: column;
  padding: 5px;
  margin: 10px;

  mat-icon {
    @include mat-icon-size(30px);
    margin-bottom: 10px;
  }

  span {
    font-size: 0.8em;
  }
}

.contact-form {
  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 710px;
    font-size: 0.85em;

    @media screen and (max-width: $mobile-breakpoint) {
      flex-direction: column;
      max-width: initial;
      margin: 60px auto;
    }
  }

  .panel-details {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
    max-width: 250px;
    
    @media screen and (max-width: $mobile-breakpoint) {
      max-width: initial;
    }
  }

  .panel-message {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;

    mat-form-field {
      width: 100%;
      height: 100%;
      margin-left: 20px;

      @media screen and (max-width: $mobile-breakpoint) {
        margin-left: 0;
      }

      textarea {
        resize: none;
      }
    }
  }

  .panel-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}