<main class="page-container">
  <app-page-title title="Contacto"
    description="Puedes ponerte en contacto a través de las siguientes plataformas o enviándome un correo electrónico"
  ></app-page-title>
  <section class="email-big responsive">
    <h2><a href="mailto:hola@victorsamuel.com">hola@victorsamuel.com</a></h2>
  </section>
  <section class="contact-icons responsive">
    <a *ngFor="let icon of contactIcons" class="contact-link" [href]="icon.url"
      target="_blank" rel="noopener noreferrer">
      <mat-icon [svgIcon]="icon.name"></mat-icon>
      <span>{{ icon.title }}</span>
    </a>
  </section>
</main>
