<main class="HomePage">
    <section class="WelcomeArea">
        <span class="WelcomeArea__Hello A--FadeIn A--D4" i18n>Hello there. My name is</span>
        <h1 class="WelcomeArea__Title WelcomeArea__Title--Level1 A--FadeIn A--D4">Victor Samuel.</h1>
        <h1 class="WelcomeArea__Title WelcomeArea__Title--Level2 A--FadeInUp A--D4 A--W2" i18n>I build things for the web.</h1>
        <p class="WelcomeArea__Extract A--FadeInUp A--D5 A--W3" i18n>
            I'm a <strong>full-stack developer</strong> focused on <strong>building accessible, human-centered products</strong> using the
            latest technologies. I'm comfortable throughout the stack, but my passion lies in the front-end, at the intersection of code and
            design.
        </p>
        <app-social-media-buttons class="WelcomeArea__SocialMediaButtons A--FadeInUp A--D4 A--W4"></app-social-media-buttons>
    </section>
</main>

<section class="Tools">
    <div class="PageTitleArea">
        <h2 i18n>Tech Stack</h2>
        <p i18n>Here you can see some languages, tools, technologies and frameworks I like to work with.</p>
    </div>
    <div class="Marquee">
        <ng-container *ngFor="let chunk of toolsInChunks; let i = index">
            <div class="Marquee__Inner" aria-hidden="true">
                <ng-container *ngFor="let item of totalItems">
                    <a
                        class="ToolBadge"
                        *ngFor="let tool of chunk; let i = index"
                        [href]="tool.homepage"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <div class="ToolBadge__Icon">
                            <img [src]="tool.icon" alt="{{ tool.name }} Icon" width="20" height="20" />
                        </div>
                        <span class="ToolBadge__Label">{{ tool.name }}</span>
                    </a>
                </ng-container>
            </div>
        </ng-container>
    </div>
</section>

<section class="QuickContact">
    <h2 class="A--FadeIn A--D6" data-cal-link="viktorsml/d92c07fa-80af-4483-a419-37749c4fee38" i18n>Need a developer?</h2>
    <a mat-button class="TitleFont Link--WithCustomHoverColor A--FadeInUp A--D7" routerLink="../contact" i18n>Let's work together</a>
</section>
