<main class="page-container">
  <section class="not-found-message responsive">
    <div class="not-found-image"></div>
    <h1 i18n="Not Found title|A title for the not found page@@notFoundTitle">Hmm, we couldn't find what you're looking for.</h1>
    <p i18n="Not Found apologize|A apologize for the not found content@@notFoundApologize">
      Sorry, but the page you are looking for has not been found. Try checking the URL for errors and then clicking the refresh button on
      your browser.
    </p>
  </section>
</main>
