@use 'sass-variables' as var;

%PageContainer {
    --page-section-margin: calc(var(--app-base-margin) / 3);
    margin-top: var(--app-base-margin);
    margin-bottom: var(--app-base-margin);

    @media screen and (max-width: var.$mobile-breakpoint) {
        --app-base-margin: 4em;
    }
}

%SmallUppercasedTitle {
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.23em;
    font-weight: 400;
    color: rgb(var(--color-text));
}

%CustomSizedMatIcon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

%PlatformTwitterColor {
    color: rgb(var(--color-twitter));
}

%PlatformInstagramColor {
    color: rgb(var(--color-instagram));
}

%PlatformLinkedInColor {
    color: rgb(var(--color-linkedin));
}

%PlatformGitHubColor {
    color: rgb(var(--color-github));
}
