<div class="main-container">
  <a class="logo noBorder" routerLink="/">Victor Samuel</a>
  <nav>
    <a class="noBorder" routerLinkActive="active" routerLink="/acerca" data-hover="Acerca">
      Acerca
    </a>
    <!-- <a class="noBorder" routerLinkActive="active" routerLink="/proyectos"
      data-hover="Proyectos">
      Proyectos
    </a> -->
    <a class="noBorder" routerLinkActive="active" href="https://go.victorsamuel.com/blog" target="_blank" rel="noopener noreferrer" data-hover="Blog">
      Blog
    </a>
    <a class="noBorder" routerLinkActive="active" routerLink="/contacto" data-hover="Contacto">
      Contacto
    </a>
    <!-- <a class="noBorder" routerLinkActive="active" routerLink="/cv"
      data-hover="CV">
      CV
    </a> -->
  </nav>
  <div class="social-icons-wrapper" [class.isVisible]="isSocialBarVisible">
    <app-social-icons class="header" [tabindexValue]="isSocialBarVisible ? '0' : '-1'"></app-social-icons>
  </div>
</div>
