<div class="main-container">
  <a class="logo noBorder" routerLink="/">Victor Samuel</a>
  <nav>
    <a
      class="noBorder"
      routerLinkActive="active"
      routerLink="/about"
      data-hover="About me"
      i18n-data-hover="About page link|A text for the link to the about page in navigation bar@@aboutNav"
      i18n="About page link|A text for the link to the about page in navigation bar@@aboutNav"
    >
      About me
    </a>
    <a
      class="noBorder"
      routerLinkActive="active"
      routerLink="/projects"
      data-hover="Projects"
      i18n-data-hover="Portfolio page link|A text for the link to the portfolio page in navigation bar@@portfolioNav"
      i18n="Portfolio page link|A text for the link to the portfolio page in navigation bar@@portfolioNav"
    >
      Projects
    </a>
    <a
      class="noBorder"
      routerLinkActive="active"
      routerLink="/contact"
      data-hover="Contact"
      i18n-data-hover="Contact page link|A text for the link to the contact page in navigation bar@@contactNav"
      i18n="Contact page link|A text for the link to the contact page in navigation bar@@contactNav"
    >
      Contact
    </a>
  </nav>
  <div
    class="language-switcher"
    [class]="language"
    i18n-matTooltip="Tooltip for language switcher|Text for language switcher tooltip@@switchLanguage"
    matTooltip="Cambiar a Español"
    (click)="switchLanguage()"
  ></div>
  <div class="social-icons-wrapper" [class.isVisible]="isSocialBarVisible">
    <app-social-icons *ngIf="this.isBrowser" class="header" [tabindexValue]="isSocialBarVisible ? '0' : '-1'"></app-social-icons>
  </div>
</div>
