@import './../../../../../scss/mixins';

$mobile-break: 670px;

:host {
  --link-padding: 7px;
  background-color: var(--color-black);
  display: block;
  width: 100%;
  flex-shrink: 0;

  @media screen and (max-width: $mobile-break) {
    border-bottom: solid 1px #242424;
  }
}

.main-container,
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-container {
  @include responsiveContainer($addPadding: true);
  height: var(--website-nav-height);

  @media screen and (max-width: $mobile-break) {
    flex-direction: column;
  }
}

.logo {
  @include hideText;
  flex-shrink: 0;
  width: 150px;
  height: 56px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('/assets/svg/vs-logo-dark.svg');

  @media screen and (max-width: $mobile-break) {
    margin-top: 20px;
  }
}

nav {
  margin-left: auto;
  
  @media screen and (max-width: $mobile-break) {
    margin-left: initial;
    margin-top: 10px;
  }

  a {
    cursor: pointer;
    position: relative;
    font-family: 'Montserrat', var(--font-default);
    font-weight: 500;
    font-size: 0.7rem;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: none;
    letter-spacing: 0.05rem;
    padding: var(--link-padding) 0;

    &:link,
    &:visited,
    &:focus {
      color: var(--color-white);
      outline: none;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      padding: var(--link-padding) 0;
      font-weight: 600;
      max-width: 0;
      color: #fff;
      content: attr(data-hover);
      -webkit-transition: max-width 0.5s;
      -moz-transition: max-width 0.5s;
      transition: max-width 0.5s;
    }

    &.active,
    &.active::before {
      color: var(--color-primary);
    }

    &:hover,
    &.active,
    &:focus {
      &::before {
        max-width: 100%;
      }
    }
  }
}

.social-icons-wrapper {
  width: 0;
  overflow: hidden;
  transition: width ease-in-out 0.3s;
  margin-left: var(--website-padding);

  @media screen and (max-width: $mobile-break) {
    display: none;
  }

  &.isVisible {
    width: 161px;
  }
}
