@import './../../../../../scss/mixins';
@import './../../../../../scss/staticVariables';

:host {
  --link-padding: 7px;
  background-color: rgba(var(--color-background), 0.8);
  display: block;
  width: 100%;
  flex-shrink: 0;

  @media screen and (max-width: $mobile-breakpoint) {
    border-bottom: solid 1px #242424;
  }
}

.main-container,
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-container {
  @include responsiveContainer($addPadding: true);
  height: var(--website-nav-height);

  @media screen and (max-width: $mobile-breakpoint) {
    flex-direction: column;
  }
}

.logo {
  width: 150px;
  height: 56px;

  @media screen and (max-width: $mobile-breakpoint) {
    margin-top: 20px;
  }
}

nav {
  margin-left: auto;

  @media screen and (max-width: $mobile-breakpoint) {
    margin-left: initial;
    margin-top: 10px;
  }

  a {
    cursor: pointer;
    position: relative;
    font-family: coven, var(--font-default);
    color: rgb(var(--color-text));
    font-weight: 500;
    font-size: 0.7rem;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: none;
    letter-spacing: 0.1rem;
    padding: var(--link-padding) 0;
    white-space: nowrap;

    &:link,
    &:visited,
    &:focus {
      color: rgb(var(--color-title));
      outline: none;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      padding: var(--link-padding) 0;
      font-weight: 600;
      max-width: 0;
      color: rgb(var(--color-title));
      content: attr(data-hover);
      -webkit-transition: max-width 0.5s;
      -moz-transition: max-width 0.5s;
      transition: max-width 0.5s;
      white-space: nowrap;
    }

    &.active,
    &.active::before {
      color: rgb(var(--color-primary));
    }

    &:hover,
    &.active,
    &:focus {
      &::before {
        max-width: 100%;
      }
    }
  }
}

.social-icons-wrapper,
.language-switcher {
  margin-left: var(--website-padding);
}

.language-switcher {
  cursor: pointer;
  width: 21px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  &.en {
    background-image: url('/assets/svg/mex-flag.svg');
  }

  &.es {
    background-image: url('/assets/svg/usa-flag.svg');
  }

  @media screen and (max-width: $mobile-breakpoint) {
    margin-top: var(--website-padding);
    margin-left: 0;
  }
}

.social-icons-wrapper {
  width: 0;
  overflow: hidden;
  transition: width ease-in-out 0.3s;

  @media screen and (max-width: $mobile-breakpoint) {
    display: none;
  }

  &.isVisible {
    width: 161px;
  }
}
