<div class="main-container">
  <a class="logo noBorder" routerLink="/">Victor Samuel</a>
  <nav>
    <a *ngFor="let link of menuLinks" 
      class="noBorder"
      routerLinkActive="active" 
      [routerLink]="link.path" 
      [attr.data-hover]="link.title">
      {{ link.title }}
    </a>
  </nav>
  <div class="social-icons-wrapper" [class.isVisible]="isSocialBarVisible">
    <app-social-icons class="header" [tabindexValue]="isSocialBarVisible ? '0' : '-1'"></app-social-icons>
  </div>
</div>