<main class="page-container">
  <app-page-title title="Proyectos"
    description="He aquí una selección de algunos proyectos que utilizan el diseño como una puerta para traducir problemas en oportunidades">
  </app-page-title>
  <section *ngIf="projects" class="projects-gallery responsive">

    <div *ngFor="let project of projects" class="project">
      <a tabindex="-1" class="project-link" [routerLink]="['/proyecto', project.projectId]">
        <app-smart-picture [settings]="project.pictureSource"></app-smart-picture>
        <h2 class="project-title">{{ project.title }}</h2>
        <p class="project-description">{{ project.description }}</p>
      </a>
      <p class="project-tags">
        <span *ngFor="let tag of project.tags">{{ tag }}</span>
      </p>
      <div class="project-buttons">
        <a mat-stroked-button color="primary" [routerLink]="['/proyecto', project.projectId]">Más Información</a>
        <a mat-stroked-button color="primary" *ngIf="project.codeUrl" [href]="project.codeUrl" target="_blank" rel="noopener noreferrer">Código</a>
      </div>
    </div>

  </section>
</main>
