<header>
  <div class="header-content">
    <a class="logo noBorder" routerLink="/about">Victor Samuel</a>
    <nav>
      <a
        class="noBorder"
        routerLinkActive="active"
        routerLink="/about"
        data-hover="About me"
        i18n-data-hover="About page link|A text for the link to the about page in navigation bar@@aboutNav"
        i18n="About page link|A text for the link to the about page in navigation bar@@aboutNav"
      >
        About me
      </a>
      <a
        class="noBorder"
        routerLinkActive="active"
        routerLink="/projects"
        data-hover="Projects"
        i18n-data-hover="Portfolio page link|A text for the link to the portfolio page in navigation bar@@portfolioNav"
        i18n="Portfolio page link|A text for the link to the portfolio page in navigation bar@@portfolioNav"
      >
        Projects
      </a>
      <a
        class="noBorder"
        routerLinkActive="active"
        routerLink="/contact"
        data-hover="Contact"
        i18n-data-hover="Contact page link|A text for the link to the contact page in navigation bar@@contactNav"
        i18n="Contact page link|A text for the link to the contact page in navigation bar@@contactNav"
      >
        Contact
      </a>
    </nav>
    <div class="social-icons-wrapper" [class.isVisible]="isSocialBarVisible">
      <app-social-icons *ngIf="core.isBrowser" class="header" [tabindexValue]="isSocialBarVisible ? '0' : '-1'"></app-social-icons>
    </div>
    <div class="language-switcher-text">
      <a class="language" matTooltip="Switch to English" [class.active]="core.currentLocale === 'en'" [href]="switchLanguage()">EN</a>
      <a class="language" matTooltip="Cambiar a Español" [class.active]="core.currentLocale === 'es'" [href]="switchLanguage()">ES</a>
    </div>
  </div>
</header>

<div class="loading-screen-no-click" *ngIf="isLoading | async"></div>
<div class="loading-screen" [@inOutAnimation] *ngIf="isLoading | async">
  <app-spinner></app-spinner>
</div>

<router-outlet></router-outlet>

<footer>
  <div class="footer-navigation">
    <div class="footer-navigation-area contact">
      <h3><span>Contact Information</span>&nbsp;&mdash;</h3>
      <p>Feel free to reach out to me any time.</p>
      <ul>
        <li>
          <span>E:</span>&nbsp;<a href="https://go.victorsamuel.com/send-email" target="_blank" rel="noopener noreferrer"
            >hola@victorsamuel.com</a
          >
        </li>
        <li><span>@</span><span>viktorsml</span>&nbsp;anywhere</li>
      </ul>
    </div>
    <div class="footer-navigation-area current-availability">
      <h3><span>Current Availability</span>&nbsp;&mdash;</h3>
      <p>I usually work on several projects but I’ll be happy to discuss new opportunities. Let’s get in touch!</p>
    </div>
    <div class="footer-navigation-area follow-me">
      <h3><span>Follow me on</span>&nbsp;&mdash;</h3>
      <ul>
        <li><a href="https://go.victorsamuel.com/twitter" target="_blank" rel="noopener noreferrer">Twitter</a></li>
        <li><a href="https://go.victorsamuel.com/instagram" target="_blank" rel="noopener noreferrer">Instagram</a></li>
        <li><a href="https://go.victorsamuel.com/linkedin" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
        <li><a href="https://go.victorsamuel.com/github" target="_blank" rel="noopener noreferrer">GitHub</a></li>
      </ul>
    </div>
  </div>

  <p i18n="Footer text|A text for footer section@@footerText">Handcrafted with ❤️ and ☕ by me.</p>
  <span class="back-to-top" (click)="scrollToTop()" i18n="Back to top button|A text for the back to top button@@backToTop">
    Back to top
  </span>
</footer>
