@import './../../../scss/mixins';
@import './../../../scss/staticVariables';

:host {
  @include coverParent;
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--color-white);
  overflow-y: auto;
  overflow-x: hidden;

  & > * {
    width: 100%;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    --website-nav-height: 140px;
  }
}

app-header,
app-footer {
  flex-shrink: 0;
  width: 100%;
}

app-header {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;

  @media screen and (max-width: $mobile-breakpoint) {
    position: relative;
  }
}

:host::ng-deep router-outlet + * {
  flex: 1 0 auto;
  padding: 1px 0;
  width: 100%;
  z-index: 1;
}

app-footer {
  position: relative;
  margin-top: auto;
  z-index: 0;
}

.loading-screen {
  @include coverParent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 1s ease-out;
  opacity: 0; 
  height: 0;
  overflow: hidden;

  &.isLoading {
    opacity: 1;
    height: 100%;
  }
}
