@import './../../../scss/mixins';

:host {
  @include coverParent;
  display: block;
  background-color: var(--color-dark);
  color: var(--color-white);
  overflow: auto;

  & > * {
    width: 100%;
  }
}