<main class="NotFoundPage">
  <div class="NotFoundPage__Image A--D8 A--FadeIn"></div>
  <h1 class="NotFoundPage__Title A--D2 A--FadeInUp">Hmm, we couldn't find what you're looking for.</h1>
  <p class="NotFoundPage__Description A--D2 A--W1 A--FadeInUp">
    Sorry, but the page you are looking for has not been found. Try checking the URL for errors and then clicking the refresh button on your browser.
  </p>
  <div class="NotFoundPage__ButtonsContainer">
    <a mat-stroked-button class="NotFoundPage__HomeButton A--W2 A--D2 A--FadeInUp" href="./about">Nah, take me to the home page</a>
    <button mat-stroked-button class="NotFoundPage__BackButton A--W2 A--D2 A--FadeInUp" (click)="goBackInNavigationHistory()">Take me back</button>
  </div>
</main>
