<main class="BookAMeetingPage">
    <div class="PageTitleArea">
        <h1 i18n>Book a meeting</h1>
        <p i18n>Want to meet? Feel free to schedule a meeting with me at any time it matches your schedule</p>
    </div>
</main>

<div class="Meetings A--W2 A--D2 A--FadeIn">
    <ng-container *ngFor="let meeting of meetings">
        <button
            class="MeetingButton"
            [ngClass]="generateCssClass('MeetingButton--Color', meeting.colorModifier)"
            [meeting-booking]="meeting.id"
        >
            <img class="MeetingButton__Icon" [src]="meeting.icon" alt="1 on 1 meeting" />
            <span class="MeetingButton__Label">{{ meeting.label }}</span>
        </button>
    </ng-container>
</div>
