<main *ngIf="project" class="page-container">
  <app-page-title [title]="project.title" [description]="project.description"></app-page-title>
  <app-smart-picture class="header-picture" [settings]="headerImage"></app-smart-picture>
  <div class="responsive project-details">
    <aside class="project-specs">
      <h2 class="hidden">Especificaciones</h2>
      <section class="project-spec project-type">
        <h3>Tipo de Proyecto</h3>
        <p>{{ project.specs.type }}</p>
      </section>
      <section class="project-spec project-role">
        <h3>Mi Rol</h3>
        <p>{{ project.specs.role }}</p>
      </section>
      <section class="project-spec project-timeline">
        <h3>Timeline</h3>
        <p>{{ project.specs.timeline }}</p>
      </section>
      <section class="project-spec project-stack">
        <h3>Tecnologías</h3>
        <p>
          <span *ngFor="let techName of project.specs.tech">{{ techName }}, </span>
        </p>
      </section>
    </aside>
    <div class="project-info">
      <section class="info-about">
        <h2>Acerca del proyecto</h2>
        <p *ngFor="let text of project.information.about">{{ text }}</p>
        <section class="responsive action-buttons">
          <a mat-stroked-button color="primary" *ngIf="project.website" [href]="project.website" target="_blank" rel="noopener noreferrer">
            Ver proyecto
          </a>
          <a mat-stroked-button color="primary" *ngIf="project.code" [href]="project.code" target="_blank" rel="noopener noreferrer">
            Ver código
          </a>
        </section>
      </section>
      <section *ngIf="project.information.challenges" class="info-challenges">
        <h2>Los desafíos</h2>
        <p *ngFor="let text of project.information.challenges">{{ text }}</p>
      </section>
      <section *ngIf="project.information.result" class="info-result">
        <h2>El resultado</h2>
        <p *ngFor="let text of project.information.result">{{ text }}</p>
      </section>
    </div>
  </div>
  <section class="responsive project-screenshots">
    <app-smart-picture *ngFor="let image of project.gallery" [settings]="image"></app-smart-picture>
  </section>
</main>
