$first-break: 790px;

:host {
  @media screen and (min-width: 1240px) {
    --section-spacing: 4.5em;
  }
}

main {
  padding-bottom: var(--section-spacing);
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--website-padding);
  height: 100%;
  max-height: 95vh;
}

h2,
h3 {
  border-bottom: solid 3px #525252;
  padding-bottom: 0.3em;
}

.info-challenges,
.info-result {
  margin-top: calc(var(--section-spacing) * 2);
}

.project-specs,
.project-info,
app-smart-picture {
  margin-top: var(--section-spacing);
}

.header-picture {
  padding: 0;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-delay: 0.5s;
}

.project-details {
  display: flex;
  flex-direction: row;
  padding-left: var(--section-spacing);
  padding-right: var(--section-spacing);

  @media screen and (max-width: $first-break) {
    flex-direction: column;
  }
}

.action-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 1em;

  a:not(:last-child) {
    margin-right: 10px;
  }
}

app-smart-picture {
  border-radius: 5px;
  overflow: hidden;
}

.project-specs {
  width: 200px;
  flex-shrink: 0;
  padding-top: 10px;
  margin-right: calc(var(--website-padding) * 2);

  @media screen and (max-width: $first-break) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    order: 1;
    margin-right: 0;
    flex-wrap: wrap;
    padding-top: var(--website-padding);
    padding-bottom: var(--website-padding);
    border-top: solid 1px rgba(var(--color-text), 0.08);
    border-bottom: solid 1px rgba(var(--color-text), 0.08);
  }

  .project-spec {
    @media screen and (max-width: $first-break) {
      padding: 10px;
      text-align: center;
      padding: 10px 15px;
      text-align: center;
      background: rgba(24, 24, 26, 0.25);
      margin: 10px;
      border: solid 1px rgba(var(--color-text), 0.05);
      border-radius: 4px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.8);
    }
  }

  h3 {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0.5em;
    padding-bottom: 0;
    border-bottom: none;
  }

  p {
    font-size: 0.9em;
    margin-top: 0;
    margin-bottom: 3em;

    @media screen and (max-width: $first-break) {
      margin-bottom: 0;
    }
  }
}

.project-info {
  @media screen and (max-width: $first-break) {
    margin-left: var(--website-padding);
    margin-right: var(--website-padding);
  }

  h2 {
    margin-top: 0;
  }
}
