<section *ngIf="!project" class="spinner-wrapper">
  <app-spinner></app-spinner>
</section>
<main *ngIf="project" class="page-container">
  <app-page-title>
    <h1>{{ project.title }}</h1>
    <p>{{ project.description }}</p>
  </app-page-title>
  <app-smart-picture class="header-picture" [settings]="headerImage"></app-smart-picture>
  <div class="responsive project-details">
    <aside class="project-specs">
      <h2 class="hidden" i18n="Specifications section title|A title for the specifications section@@specificationsTitle">Specifications</h2>
      <section class="project-spec project-type">
        <h3 i18n="Project type title|A title for the project type@@projectType">Project type</h3>
        <p>{{ project.specs.type }}</p>
      </section>
      <section class="project-spec project-role">
        <h3 i18n="My role title|A title for my role in a project@@myRole">My role</h3>
        <p>{{ project.specs.role }}</p>
      </section>
      <section class="project-spec project-timeline">
        <h3 i18n="Project duration|A title for the project duration@@projectDuration">Duration</h3>
        <p>{{ project.specs.timeline }}</p>
      </section>
      <section class="project-spec project-stack">
        <h3 i18n="Project technologies|A title for the technologies used in a project@@projectTech">Stack</h3>
        <p>
          <span *ngFor="let techName of project.specs.tech; let i = index">
            <span>{{ techName }}</span>
            <span *ngIf="i + 1 < project.specs.tech.length">, </span>
            <span *ngIf="i === project.specs.tech.length - 1">.</span>
          </span>
        </p>
      </section>
    </aside>
    <div class="project-info">
      <section class="info-about">
        <h2 i18n="About project title|A title for the about the project section@@aboutProject">About the project</h2>
        <p *ngFor="let text of project.information.about">{{ text }}</p>
        <section class="responsive action-buttons">
          <a
            mat-stroked-button
            color="primary"
            *ngIf="project.website"
            [href]="project.website"
            target="_blank"
            rel="noopener noreferrer"
            i18n="See project website button|Text for the see project website button@@seeProjectButton"
          >
            See project
          </a>
          <a
            mat-stroked-button
            color="primary"
            *ngIf="project.code"
            [href]="project.code"
            target="_blank"
            rel="noopener noreferrer"
            i18n="See code button|Text for the see code button@@seeCodeButton"
          >
            See code
          </a>
        </section>
      </section>
      <section *ngIf="project.information.challenges" class="info-challenges">
        <h2 i18n="Challenges of the project title|A title for the challenges of the project section@@challengesProject">The challenges</h2>
        <p *ngFor="let text of project.information.challenges">{{ text }}</p>
      </section>
      <section *ngIf="project.information.result" class="info-result">
        <h2 i18n="Project results title|A title for the project results section@@projectResults">The final product</h2>
        <p *ngFor="let text of project.information.result">{{ text }}</p>
      </section>
    </div>
  </div>
  <section class="responsive project-screenshots">
    <app-smart-picture *ngFor="let image of project.gallery" [settings]="image"></app-smart-picture>
  </section>
</main>
