<main class="NotFoundPage">
  <div class="NotFoundPage__Image"></div>
  <h1 class="NotFoundPage__Title" i18n>Hmm, we couldn't find what you're looking for.</h1>
  <p class="NotFoundPage__Description" i18n>
    Sorry, but the page you are looking for has not been found. Try checking the URL for errors and then clicking the refresh button on your browser.
  </p>
  <div class="NotFoundPage__ButtonsContainer">
    <a mat-stroked-button class="NotFoundPage__HomeButton" routerLink="/" i18n>Nah, take me to the home page</a>
    <button mat-stroked-button class="NotFoundPage__BackButton" (click)="goBackInNavigationHistory()" i18n>Take me back</button>
  </div>
</main>
