@import './../../../../../scss/mixins';

:host {
  display: block;
}

.main-container {
  @include responsiveContainer($addPadding: true);
}

p {
  text-align: center;
  font-size: 0.7rem;
  letter-spacing: 0.3px;
  border-top: solid 1px var(--color-border);
  padding: 25px 0;
}