@import './../../../../../scss/mixins';

:host {
  display: block;
  background-color: var(--color-black);
}

.main-container {
  @include responsiveContainer($addPadding: false);
  padding: var(--page-margin) var(--website-padding);
  // border-top: solid 1px var(--color-border);
}

p {
  margin: 0;
  font-family: coven, var(--font-default);
  letter-spacing: 0.04em;
  font-weight: 400;
  text-align: center;
  font-size: 0.77rem;
  letter-spacing: 0.3px;
}
