@import './../../../../../scss/mixins';

:host {
  display: block;
  background-color: var(--color-black);
}

.main-container {
  @include responsiveContainer($addPadding: true);
}

p {
  margin: 0;
  text-align: center;
  font-size: 0.7rem;
  letter-spacing: 0.3px;
  padding: 25px 0;
}