<ng-container *ngIf="errorMessage">
  <div class="ErrorMessage">
    <div class="ErrorMessage__Content">
      <app-smart-picture object-fit="contain" object-position="center">
        <source [srcset]="errorMessage.iconFilePath" type="image/svg+xml" />
      </app-smart-picture>
      <div class="ErrorMessage__InformationContainer">
        <h2 class="ErrorMessage__Title">{{ errorMessage.title }}</h2>
        <p class="ErrorMessage__Description">{{ errorMessage.description }}</p>
      </div>
    </div>
  </div>
</ng-container>
