@import 'scss/covenFont';
@import 'scss/normalize';
@import 'scss/materialTheme';
@import 'scss/staticVariables';
@import 'scss/variables';
@import 'scss/mixins';

html {
  @include box-sizing(border-box);

  @media screen and (max-width: $mobile-breakpoint) {
    --website-max-width: 100%;
  }

  @media screen and (min-width: 2000px) {
    --website-max-width: 2000px;
  }
}

*,
*:before,
*:after {
  @include box-sizing(inherit);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

*::selection,
*::-moz-selection {
  background-color: rgba(13, 0, 255, 0.45);
  color: white;
}

html,
body {
  @include coverParent;
  font-family: var(--font-default);
  font-weight: var(--font-default-weight);
  font-feature-settings: 'ss01', 'ss02';
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-text));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
}

body.allow-animations {
  overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  text-transform: var(--font-title-transform);
  color: rgb(var(--color-title));
  font-feature-settings: 'ss01', 'ss02';
  font-weight: var(--font-title-wight);
  font-size: 3em;
  letter-spacing: 0.03em;
  margin-bottom: 0.85em;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5em;
  letter-spacing: 0.05em;
}

h1 {
  font-size: 2.8em;
  line-height: 1.6em;
  margin-top: 0.85em;
}

h2 {
  font-size: 2.4em;
  line-height: 1.5em;
}

h3 {
  font-size: 2em;
  line-height: 1.4em;
}

h4 {
  font-size: 1.8em;
  line-height: 1.3em;
}

h5 {
  font-size: 1.6em;
  line-height: 1.3em;
}

h6 {
  font-size: 1.4em;
  line-height: 1.3em;
}

p {
  font-family: var(--font-default);
  font-weight: var(--font-default-weight);
  color: rgb(var(--color-text));
  line-height: var(--font-default-line-height);
  font-size: 1.1em;
  letter-spacing: 0.03em;
}

a {
  color: rgb(var(--color-accent));
  text-decoration: none;
  border-bottom: solid 1px;
  border-color: transparent;

  &:not(.noBorder):hover {
    border-color: rgb(var(--color-accent));
  }
}

html[data-theme='dark'] a:hover {
  @include linearGradientText(#f7b42c, #fc575e, 135deg);
}

html[data-theme='light'] a:hover {
  @include linearGradientText(#3d4ae6, #f96168, 135deg);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(var(--color-text));
  transition: background-color 5000s ease-in-out 0s;
}

mat-form-field,
*[mat-stroked-button] {
  font-family: var(--font-default) !important;
}

mat-form-field {
  font-size: 0.95em !important;
}

*[mat-stroked-button] {
  mat-icon {
    margin-left: 13px;
    @include mat-icon-size(15px);
  }
}

.logo {
  font-family: 'Coven', var(--font-fallback);
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(var(--color-title));
  white-space: nowrap;
  flex-wrap: nowrap;
}

.page-container {
  --page-section-margin: calc(var(--page-margin) / 3);
  margin-top: var(--page-margin);

  @media screen and (max-width: $mobile-breakpoint) {
    --page-margin: 60px;
  }

  & > .responsive,
  app-page-title {
    @include responsiveContainer();
  }

  & > .responsive {
    margin-top: var(--page-section-margin);
  }
}

.hidden {
  display: none;
}

.top-title {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.23em;
  font-weight: 400;
}

.quick-contact {
  @include responsiveContainer($addPadding: false);
  padding: 14em var(--website-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a,
  span {
    text-align: center;
  }

  a {
    margin-top: 0.3em;
    margin-bottom: 0;
    font-size: 4em;
    color: rgb(var(--color-title));
    font-weight: 600;
    line-height: 1.6em;
    border-bottom: solid 5px;
    border-color: transparent;

    @media screen and (max-width: $mobile-breakpoint) {
      font-size: 2.6em;
    }
  }

  .arrow-icon {
    width: 50px;
    height: 50px;
    background-image: url('/assets/svg/forward.svg');
  }
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
