@font-face {
  font-family: 'Coven';
  src: url('/assets/fonts/coven-light.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/coven-light.woff') format('woff'),
    url('/assets/fonts/coven-light.ttf') format('truetype'), url('/assets/fonts/coven-light.svg#coven-light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Coven';
  src: url('/assets/fonts/coven.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/coven.otf') format('opentype'),
    url('/assets/fonts/coven.woff') format('woff'), url('/assets/fonts/coven.ttf') format('truetype'),
    url('/assets/fonts/coven.svg#coven') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Coven';
  src: url('/assets/fonts/coven-medium.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/coven-medium.woff') format('woff'),
    url('/assets/fonts/coven-medium.ttf') format('truetype'), url('/assets/fonts/coven-medium.svg#coven-medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
