// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$md-vs-dark: (
  50: #fbf5ef,
  100: #f6e5d7,
  200: #f0d4bd,
  300: #eac2a2,
  400: #e6b58e,
  500: #e1a87a,
  600: #dda072,
  700: #d99767,
  800: #d58d5d,
  900: #cd7d4a,
  A100: #ffffff,
  A200: #fff7f3,
  A400: #ffd7c0,
  A700: #ffc7a7,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$md-vs-light: (
  50: #eceaf9,
  100: #d1caf0,
  200: #b2a7e6,
  300: #9384db,
  400: #7b69d4,
  500: #644fcc,
  600: #5c48c7,
  700: #523fc0,
  800: #4836b9,
  900: #3626ad,
  A100: #eeebff,
  A200: #c0b8ff,
  A400: #9385ff,
  A700: #7c6cff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$victorsamuel-website-primary-dark: mat-palette($md-vs-dark);
$victorsamuel-website-accent-dark: mat-palette($md-vs-dark, A200, A100, A400);

$victorsamuel-website-primary-light: mat-palette($md-vs-light);
$victorsamuel-website-accent-light: mat-palette($md-vs-light, A200, A100, A400);

// The warn palette is optional (defaults to red).
$victorsamuel-website-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$victorsamuel-website-theme-dark: mat-dark-theme(
  $victorsamuel-website-primary-dark,
  $victorsamuel-website-accent-dark,
  $victorsamuel-website-warn
);
$victorsamuel-website-theme-light: mat-light-theme(
  $victorsamuel-website-primary-light,
  $victorsamuel-website-accent-light,
  $victorsamuel-website-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
html[data-theme='dark'] {
  @include angular-material-theme($victorsamuel-website-theme-dark);
}

html[data-theme='light'] {
  @include angular-material-theme($victorsamuel-website-theme-light);
}
