html {
  // Colors
  --color-primary: #e1a87a;
  --color-white: #d8dbe2;
  --color-black: #1a1a1a;
  --color-grey: #2A2E37;
  --color-border: #2e3035;
  // Fonts
  --font-default: "Nunito Sans", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-title: 'Montserrat', var(--font-default);
  // Sizes
  --website-max-width: 1200px;
  --website-padding: 25px;
  --website-nav-height: 56px;
}