html {
  --color-primary: #F5672C;
  --color-white: #d8dbe2;
  --color-dark: #1F2229;
  --color-grey: #2A2E37;
  --font-default: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}