<div class="LanguageSwitcher">
  <ng-container *ngFor="let language of environmentService.supportedLanguages">
    <button
      class="LanguageSwitcher__LanguageButton Link--DisableHoverBorder"
      [class.LanguageSwitcher__LanguageButton--ShowAsCode]="shouldDisplayAsLanguageCode"
      [class.LanguageSwitcher__LanguageButton--Active]="language.code === environmentService.currentLanguage"
      [tabIndex]="language.code === environmentService.currentLanguage ? -1 : 0"
      [tooltip]="language.help"
      [options]="{ placement: 'bottom' }"
      (click)="onLanguageChange(language.code)"
    >
      <span>{{ shouldDisplayAsLanguageCode ? language.code : language.label }}</span>
    </button>
  </ng-container>
</div>
