@import './../../../../../scss/mixins';
@import './../../../../../scss/staticVariables';

:host {
  @media screen and (max-width: $mobile-breakpoint) {
    position: relative;
    top: calc(var(--website-nav-height) * -1);
  }
}

.main-container {
  @include responsiveContainer;
}

section.welcome {
  display: grid;
  grid-template-columns: var(--website-nav-height) 1fr var(--website-nav-height);
  grid-template-rows: var(--website-nav-height) 1fr var(--website-nav-height);
  height: 100%;

  app-social-icons {
    grid-column: 1;
    grid-row: 2;
  }
  
  .main-container {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: perspective(1000px);
  }

  h1, p {
    text-align: center;
    width: 100%;
  }

  h1 {
    @include linearGradientText(#F7B42C, #FC575E, 135deg);
    max-width: 680px;
    margin-top: var(--website-padding);
    margin-bottom: 0;
  }

  p {
    color: #ecd7ab;
    max-width: 530px;
    margin: var(--website-padding) 0;
  }

  app-picture {
    width: 220px;
    height: 233px;
    margin-bottom: var(--website-padding);
    transform: translateZ(20px)
  }
}