@import './../../../../../scss/mixins';
@import './../../../../../scss/staticVariables';

:host {
  margin-top: 0;
}

.welcome-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: calc(100vh - (var(--page-margin) + var(--page-section-margin) + var(--website-nav-height)));
  min-height: 330px;
  max-height: 720px;
  padding-bottom: 30px;

  @media screen and (max-width: $mobile-breakpoint) {
    justify-content: center;
    align-items: center;
    min-height: initial;
    height: initial;
    padding-bottom: 0;
  }

  h1,
  p,
  app-social-icons {
    margin-top: 0;
    margin-bottom: var(--website-padding);
  }

  h1,
  p {
    text-align: left;
    width: 100%;

    @media screen and (max-width: $mobile-breakpoint) {
      text-align: center;
    }
  }

  app-social-icons {
    --icon-size: 18px;
    --icon-padding: 9px;

    @media screen and (max-width: $mobile-breakpoint) {
      margin-bottom: 0;
    }
  }

  .developer-icon {
    display: none;
    width: 200px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: $mobile-breakpoint) {
      display: block;
    }
  }

  h1 {
    @include linearGradientText(#f7b42c, #fc575e, 135deg);
    max-width: 60vw;
    font-size: 4vw;

    @media screen and (max-width: $mobile-breakpoint) {
      max-width: 100%;
      font-size: 2em;
    }

    @media screen and (min-width: 1500px) {
      font-size: 3em;
    }

    @media screen and (min-width: 2000px) {
      font-size: 4em;
    }
  }

  p {
    color: rgb(var(--color-primary));
    max-width: 45vw;
    font-size: 1.3vw;

    @media screen and (max-width: $mobile-breakpoint) {
      max-width: 100%;
      font-size: 1em;
    }

    @media screen and (min-width: 1500px) {
      font-size: 1.5em;
    }

    @media screen and (min-width: 2000px) {
      font-size: 2em;
      max-width: 1100px;
    }
  }

  .developer-picture {
    --postion-bottom: calc((var(--page-section-margin) * -1) - 14vh);
    position: absolute;
    width: 100vw;
    max-width: calc(2000px + 15vw);
    height: 117vh;
    max-height: calc(900px - var(--postion-bottom));
    right: -11vw;
    bottom: var(--postion-bottom);
    z-index: -1;
    transform-style: preserve-3d;
    transform: perspective(1000px);

    @media screen and (max-width: $mobile-breakpoint) {
      display: none;
    }
  }
}
