<main class="page-container">
  <section class="welcome-area responsive">
    <h1>Desarrollador web full-stack<br>actualmente en el área de Puerto Vallarta</h1>
    <p>Creo hermosas aplicaciones web con las ultimas tecnologías disponibles y con un
      diseño centrado en el usuario</p>
    <app-social-icons></app-social-icons>
    <!-- <app-picture data-tilt data-tilt-full-page-listening class="titlme"
      source="victor-samuel" mode="contain" [isPng]="true"></app-picture> -->
  </section>
</main>
